* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100vh;
  background-image: radial-gradient(circle, #fff, #ccc);
}

.containear {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 790px;
  height: 600px;
  padding: 20px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #9dd2ea;
  box-shadow: 0 4px 0 #009de4;
}

.score {
  position: absolute;
  right: 3%;
  height: 40px;
  padding: 0 10px;
  background-color: #f1ff92;
  box-shadow: 0 4px 0 #9da853;
  color: #9da853;
  line-height: 40px;
  text-align: center;
}

.lives {
  display: none;
  position: absolute;
  left: 3%;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: #f1ff92;
  box-shadow: 0 4px 0 #7ea8bb;
  color: #9da853;
  line-height: 40px;
  text-align: center;
}

.heart {
  display: inline-block;
  width: 20px;
  margin-top: 10px;
}

.heart:not(:last-child) {
  margin-right: 10px;
}

.fruitsContainear {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%);
  width: 650px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 4px 0 #535aa8;
  font-family: cursive, sans-serif;
  font-size: 100px;
  line-height: 150px;
  text-align: center;
  overflow: hidden;
}

.fruit {
  display: none;
  position: absolute;
}

.instruction {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%);
  width: 400px;
  height: 50px;
  background-color: #b481d9;
  box-shadow: 0 4px 0 #8153a8;
  line-height: 50px;
  text-align: center;
}

.start-reset {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%);
  height: 38px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: #cee9f5;
  box-shadow: 0 4px 0 #7ea8bb;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
  transition: transform .2s, box-shadow .22s, color .2s;
}

.start-reset:hover {
  background: rgba(180,129,217, .5);
}

.start-reset:active {
  transform: translate(-50%, 4px);
  box-shadow: 0 0 0 #7ea8bb;
}

.game-over {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 200px;
  padding: 30px 0 20px;
  background-image: linear-gradient(to bottom, #f3ca6b, #f3716c);
  color: #f5f5f5;
  font-size: 42px;
  line-height: 80px;
  text-align: center;
}